body {
  background-color: navajowhite;
}

.article_1 {
  background-color: lightgreen;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .75em;
}

.article_2 {
  background-color: salmon;
  font-family: "Courier New", Courier, monospace;
  font-size: .5em;
}

.article_3 {
  background-color: khaki;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 1.2em;
}

.article_4 {
  background-color: cyan;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5em;
}

.article_5 {
  background-color: lavender;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.7em;
}