body {
  background-color: navajowhite;
}

.article_1 {
  background-color: lightgreen;
}

.article_2 {
  background-color: salmon;
}

.article_3 {
  background-color: khaki;
}

.article_4 {
  background-color: cyan;
}

.article_5 {
  background-color: lavender;
}